<div class="container">
<h2  class="HeadingTextStyle my-3 mx-lr-2 mx-md-2 mx-sm-2">If You wanted to get rich, how Would you do It?</h2>
<p  class="HeadingTextStyle my-3 mx-lr-2 mx-md-2 mx-sm-2" style="color:red">By Eric Morath Published on May 07,2004</p>
<hr>

  <div class="row">
    <div class="col-md-4  col-lg-3 d-none d-xl-block d-md-block" >
    <app-socialmedia></app-socialmedia>
    </div>
    <div class="col-12 col-md-8 col-lg-9 " >
      <app-new-details-body></app-new-details-body>
      <div class="MarginsBeetween">
        <h4>Comments</h4>
 <app-comment></app-comment>
        <div class="MarginsBeetween">
        <h4 class="MarginsOfTitle"> Join The converstation</h4>
     <app-comment-form></app-comment-form>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>

</div>
