<div>
  <img src="https://image.cnbcfm.com/api/v1/image/106834413-1612324725949-gettyimages-1230923192-AFP_8ZZ9J6.jpeg?v=1612324561"
       class="img-fluid pb-3" >
  <p class="pb-3" class="TextBreak">
    Three dead in National Guard helicopter crash near Boise

    Three pilots with the Army National Guard were killed when their helicopter crashed during a training mission in southern Idaho on Tuesday night, authorities said. The victims were on a UH-60 Black … [+1821 chars]
    Three dead in National Guard helicopter crash near Boise
    Three pilots with the Army National Guard were killed when their helicopter crashed during a training mission in southern Idaho on Tuesday night, authorities said. The victims were on a UH-60 Black … [+1821 chars]
  </p>
  <button type="button" class="btn btn-success MarginsBeetweenSpans">I found This Helpful</button>
  <button type="button" class="btn btn-light">I Did not found this Helpful</button>
</div>
