<div class="border container" >
  <div class="row">
    <div class="ImagePadding col-3 col-md-2 mt-sm-3"  >
      <img src="https://image.cnbcfm.com/api/v1/image/106834413-1612324725949-gettyimages-1230923192-AFP_8ZZ9J6.jpeg?v=1612324561"
           class="rounded-circle w-100 h-90">
    </div>
    <div class="CommentBody col-9 col-md-10">
      <span style="font-weight: bold">Olya</span> <span class="SpanStyle">Jan 16, 2013</span>
      <span class="MarginsBeetweenSpans"><button type="button" class="btn btn-light">Reply</button></span>
      <p class="TextBreak">
        GOP Discord Over Liz Cheney, Marjorie Taylor Greene Is Still All About Trump
        GOP Discord Over Liz Cheney, Marjorie Taylor Greene Is Still All About Trump
        GOP Discord Over Liz Cheney, Marjorie Taylor Greene Is Still All About Trump
      </p>
    </div>
  </div>

</div>
